<html>
  <head>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="/receiptcss.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/script.js"></script>
  </head>
  <nav class="navbar navbar-inverse">
    <div style="float: right;">
      <button type="button" class="btn btn-primary btn-lg">
        <a href="/logout" style="color: white;">Logout</a>
      </button>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
        <div class="form_main">
          <h4 class="heading">
            <strong>RECEIPT </strong> DETAILS <span></span>
          </h4>
          <div class="form">
            <form
              action="/generateForm"
              method="POST"
              id="receiptFrm"
              name="receiptFrm"
            >
              <input
                type="text"
                required=""
                placeholder="Please input Customer Name"
                value=""
                name="custName"
                class="txt"
              />
              <input
                type="number"
                required=""
                placeholder="Please input Customer ID"
                value=""
                min="0"
                name="custId"
                class="txt"
              />
              <input
                type="email"
                required=""
                placeholder="Please input Customer Email"
                value=""
                name="custMail"
                class="txt"
              />
              <input
                type="tel"
                pattern="[0-9]{10}"
                placeholder="Please input Customer Ph.No"
                value=""
                name="custPhno"
                class="txt"
                required=""
              />
              <textarea
                placeholder="Please input Customer Address"
                name="custAddr"
                type="text"
                class="txt_3"
              ></textarea>
              <input
                type="number"
                required=""
                placeholder="Please input Invoice No"
                value=""
                min="0"
                name="invoiceNo"
                class="txt"
              />
              <input
                type="text"
                required=""
                placeholder="Please input Invoice Created Date"
                value=""
                name="invoiceCreated"
                class="txt"
                onfocus="(this.type='date')"
              />
              <input
                type="text"
                required=""
                placeholder="Amount paid on"
                value=""
                name="paidOn"
                class="txt"
                onfocus="(this.type='date')"
              />
              <label>Payment Mode: </label>
              <span style="padding-left: 10px;">
                <input
                  type="radio"
                  name="paymentMode"
                  value="Cash"
                  checked
                />Cash</span
              >
              <span style="padding-left: 10px;">
                <input type="radio" name="paymentMode" value="Card" />Card</span
              >
              <span style="padding-left: 10px;">
                <input
                  type="radio"
                  name="paymentMode"
                  value="Cheque"
                />Cheque</span
              >
              <hr />
              <div>
                <span>
                  <label>No. of Items Purchased: </label>
                  <input type="number" id="fieldno" name="noOfItems" min="0" />
                  <button type="button" onclick="addTable()" class="txt2">
                    Create Fields
                  </button>
                </span>
              </div>
              <br />
              <div id="receiptFields"></div>
              <hr />
              <center>
                <input
                  type="submit"
                  value="Generate Receipt"
                  name="submit"
                  class="txt2"
                />
              </center>
            </form>
            <center>
              <button class="btn btn-warning">
                <a
                  href="/allReceipts"
                  style="text-decoration: none; color: white;"
                  >Generated Receipts</a
                >
              </button>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
